@page
    @model CourseModel

    <br />
    <h2>@Model.Message</h2>

    <br />
    <br />
    <h5>Courses you are currently enrolled in:</h5>
    <li>
    D202 Software Process (S2 2021)
    </li>
    <li>
    I111 Web Fundamentals (S2 2021)
    </li>
    <li>
    I203 Digital Multimedia (S1 2021)
    </li>
    <li>
    T211 Network Services (S1 2021)
    </li>
    <li>
    I202 Project Management
    </li>
