@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to this website.</h2>
<p>If you would like to select a timetable slot please click on the timetables tab located at the top of the screen. You can also check the courses you are enrolled in by opening the Courses tab.</p>
