@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <h1> welcome to this website.</h1>
    <br />
    <br />
    <p>if you would like to select a timetable slot please click on the timetables tab located at the top of the screen. You can also check the courses you are enrolled in by opening the Courses tab.</p>
</div>
