@page
@{
    ViewData["Title"] = "Timetable";

}
<h2>@ViewData["Title"]</h2>
@*@{
    Layout = "_Layout";
}*@

<ul class="small-link">
    <li><a asp-page="/Courses/Presentation">Timetable</a></li>
    <li><a asp-page="/Courses/Test">Test</a></li>
</ul>
