@page
@{
    ViewData["Title"] = "Course";

}
<h2>@ViewData["Title"]</h2>
@*@{
    Layout = "_Layout";
}*@
<br />

<ul>
    <li><a asp-page="/Courses/Presentation">Timetable</a></li>
    <li><a asp-page="/Courses/Test">Test</a></li>
</ul>
